body {
    font-family: Arial;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.profile-card {
    width: 450px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2193b0;
    color: white;
    border: none;
}

.back-btn {
    text-decoration: none;
    background: #2193b0;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
}
